<h1> Hi there, <%=userName%> </h1> 

<h1>
   Welcome to the Oscar Papa Development Milestone
</h1>

<h2> Development team includes : Khoi Nguyen : Troy Wisdom : Greyson Holmes</h2>

<ul> 

<li> 
<p>
  Khoi Nguyen
  on g/h @khoiuna
  <a href="https://cis486-mike.herokuapp.com/">Dev Mike</a>
</p>


<li>
  <p>
    Troy Wisdom
    my enneagram = 1.
    on g/h @tgwisdom
   <a target="_blank"> href= https://github.com/tgwisdom/devlab-mike </a>
  </p>
</li>

<li>
  <p>
  Greyson Holmes
  my enneagram = 9
  on g/h @CFlameRender
  <a href="https://github.com/FlameRender/legendary-octo-journey" target="_blank">My november repo</a>
  </p>
</li>

</ul>
<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>See your name through the power of ejs!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>

<h1>Posting data from HTML to mongoDB Atlas</h1>
<form class="container" method="post" action="/">
  <div class="form-group">
   <input class="form-control" name="title">
  </div>
  <div class="form-group">
  <textarea class="form-control" name="content"></textarea>
  </div>
  <button>ADD TO MONGO DB</button>
</form>

Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Co
