<h1> Hi there, <%=userName%> </h1> 

<h1>
    Barry's Super Duper Page
</h1>

<h2> all y'alls links enneagrams go here</h2>

<ul> 

  <li>
    <p>Barry my enneagram = 9. on g/h @barrycumbie this repo = ... studious-robot
<a href="https;//github.com/barrycumbie/laughing-sniffle" target="_blank"></a>
  <a target="_blank" href="https://github.com/barrycumbie/laughing-sniffle">my other repo</a>
</p>

<li> 
<p> 
Gavin Raney
my enneagram = 6w7
github @gavinraney
<a href="https://github.com/gavinraney/devlab-november" target="_blank">Gavin's NOVEMBER repo</a>
</p>

<li> 
<p>
    Peyton 
    Junjulas
    my enneagram = 3
    on g/h @peytonjunjulas
    <a target = "blank" href="https://github.com/peytonjunjulas/dev-lab-november">This is my dev lab November link</a>
</p>

<li> 
<p>
  Khoi Nguyen
  on g/h @khoiuna
  <a href="https://cis486-mike.herokuapp.com/">Dev Mike</a>
</p>

<li> 
<p>Hunter 
    my enneagram = 9
    on g/h @hunter-mcgriff
    <a href="https://github.com/hunter-mcgriff/dev-lab-november.git">dev-lab-november</a>
</p>

<li>
<p> 
    Kingram
    My Enneagram = Type 5. The Investigator 
    on g/h @kobyingram11
    this repo = ... <a target="_blank" href="https://github.com/kobyingram11/fuzzy-goggles">Dev Lab Mike REPO</a>
    <a href="https://www.enneagraminstitute.com/type-5">See info abt my type!</a>
</p>

<p>
    Jacob:
    My Enneagram = 6
    on g/h: jacobsanders7
    this repo: fuzzy-computing-machine
    <a target= "_blank" href= "https://github.com/jacobsanders7/fuzzy-computing-machine"> My Repo</a>
</p>
</li>

<li>
  <p> 
    My name is <b>Alex</b> <br>
    I am an eneagram type 3. More on type 3 below:
    <h3>https://www.enneagraminstitute.com/type-3</h3>
    On Github @astricklandd.
    This repo is saved in dev-november-
    <a  target="_blank" href="https://github.com/astricklandd/dev-mike-2"> My other Repo </a>
    </p>   
</li>

<li>
  <p>
  Austin Reach
  Enneagram = 9
  on g/h @Kiikz
  <a target="_blank" href="https://github.com/Kiikz/dev-lab-mike">dev-lab-mike</a>
  </p>
  
<li> 
  <p> 
    Greyson Holmes 
    my enneagram = 9 
    on g/h @FlameRender
    <a target="_blank" href="https://github.com/FlameRender/refactored-telegram"> my Dev lab NOV</a>
  </p>   
</li>

<li>
  <p>
    Hunter 
    my enneagram = 9
    on g/h @hunter-mcgriff
    <a href="https://github.com/hunter-mcgriff/dev-lab-november.git">dev-lab-november</a>
  </p>
</li>

<li>
  <p>
    Troy
    my enneagram = 1.
    on g/h @tgwisdom
   <a target="_blank"> href= https://github.com/tgwisdom/devlab-mike </a>
  </p>
</li>

<li>
  <p> 
    Kingram
    My Enneagram = Type 5. The Investigator 
    on g/h @kobyingram11
    this repo = ... <a target="_blank" href="https://github.com/kobyingram11/fuzzy-goggles">Dev Lab Mike REPO</a>
    <a href="https://www.enneagraminstitute.com/type-5">See info abt my type!</a>
  </p>
</li>

<li>
  <p>
  Colin Tate 
  my enneagram = 7w8
  on g/h @ColinTate24
  <a href="https://github.com/ColinTate24/november" target="_blank">My november repo</a>
  </p>
</li>

</ul>
<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Co