<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Behind The Scenes Modules</h1>

    <ul
      style="font-size: 20px; color: white; margin-left: 2rem; margin-top: 5rem"
    >
      <li>
        Node: An asychronous event-driven javascript runtime. Used to execute
        and run web server code.
      </li>

      <li>
        Heroku: Cloud based platform as a service used to host our website.
      </li>

      <li>
        GitHub: Website used to collaborate with a team to implement fixes,
        design, and share code.
      </li>

      <li>
        Express: Node web application. Currently being used to listen, and serve
        initial web requests.
      </li>

      <li>
        npm: Package manager used to initialize json files and install services
        such as express.
      </li>

      <li>
        ejs: Embedded JavaScript Templating, Allows for javaScript code to be
        embeded in a template language that is then used to generate HTML.
      </li>

      <li>
        Mongodb: Document database used to retreive and store data to and from
        the website.
      </li>

      <li>Nodemon: Allows for updates to take immediate effect.</li>

      <li>
        Body-parser: Middleware that extracts the entire body portion of an
        incoming request stream and exposes it on req. body
      </li>

      <li>VS-Code: Microsoft source code editor.</li>

      <li>
        dotenv: A zero dependancy module that loads enviroment variables from a
        .env file into process.env
      </li>
    </ul>
  </body>

  <form style="margin-top: 5%">
    <input
      style="background-color: #ff5656"
      62.5%;
      type="button"
      value="Go back!"
      onclick="history.back()"
    />
  </form>
</html>
